.container {
  min-height: calc(100vh - 178px);

  & * {
    font-family: "Cairo", sans-serif !important;
  }
}

.progressContainer {
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;

  span {
    height: 2px !important;
  }
}

@media (max-width: 600px) {
  .container {
    min-height: calc(100vh - 197px);
  }

  .progressContainer {
    top: 56px;
  }
}

// Responsive table
.datagrid_container {
  height: calc(100vh - 112px);

  @media (max-width: 600px) {
    height: calc(100vh - 104px);
  }
}

.actionsColumn {
  display: flex;
  align-items: center;
}

.shippedRow {
  background-color: #c5ebff;
  /* color: #fff; */
}

.shippedRow:hover {
  color: #000;
  background-color: #c5ebff !important;
}

.NotshippedRow {
  background-color: #d32f2f;
  color: #fff;
}

.NotshippedRow:hover {
  color: #fff;
  background-color: #d32f2f !important;
}

.modal_text_eria {
}
