.container {
  min-height: calc(100vh - 112px);

  //   display: flex;
  //   justify-content: center;
  // margin-top: 32px;
}

.datepicker_Box {
  @media (max-width: 600px) {
    flex-direction: column;
  }
}
