.container {
  // padding: 48px;
  min-height: calc(100vh - 112px);
  max-width: 660px;
  margin: auto;

  & * {
    font-family: "Cairo", sans-serif !important;
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .start_contract_box {
    padding-top: 0 !important;
    padding-right: 0 !important;
    padding-left: 12px;

    @media (max-width: 600px) {
      padding-right: 0 !important;
      padding-top: 0 !important;
      padding-left: 0px;
    }
  }

  .end_contract_box {
    padding-top: 0 !important;
    padding-right: 12px;

    @media (max-width: 600px) {
      padding-right: 0 !important;
      padding-top: 24px !important;
    }
  }
}

.progressContainer {
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;

  span {
    height: 2px !important;
  }
}

@media (max-width: 600px) {
  .container {
    min-height: calc(100vh - 104px);
    // padding: 16px;
  }

  .progressContainer {
    top: 56px;
  }
}

.table_container {
  table {
    // font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td {
    border: 1px solid #7431fa;
    text-align: center;
    padding: 8px;
    width: 50%;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
}

.warn {
  color: red;
  margin-top: 16px;
}

.table_title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  // margin-bottom: 10px;
  color: #fff;
  padding: 10px;
  background-color: #7431fa;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
